body {
  background-color: #0097ca;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  background-color: #f2ffcc;
  text-align: center;
  color: black;
  font: bolder;
  font-size: 48px;
  margin: 0%;
  padding: 0%;
}

.footer {
  background-color: #282826;
  color: whitesmoke;
  position: absolute;
  width: 100%;
  bottom: 0%;
  margin: auto;
}

.author-info {
  text-align: right;
  padding-right: 5px;
}

a {
  color: #0097ca;
}

h1 {
  margin: auto;
  text-align: center;
  font-size: 38pt;
}

h2 {
  margin: 10px;
}

h3 {
  margin: 10px;
}

h4 {
  margin: 15px;
  text-align: center;
  font-size: 20pt;
}

.main-menu {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 100%;
}

.main-menu-button {
  font: bolder;
  font-size: larger;
  background-color: #f2ffcc;
  margin: 2px 4px;
  padding: 16px 12px;
  border: none;
  border-radius: 10px;
}

.main-menu-button:hover {
  background-color: #d6f281;
  cursor: pointer;
}

#generate-page {
  margin: auto;
  text-align: center;
}

#add-exercise-form {
  margin: auto;
  text-align: center;
}

img {
  position: relative;
}

.button {
  background-color: #f2ffcc;
  border: #f2ffcc;
  color: black;
  font-size: x-large;
  padding: 12px 24px;
  border-radius: 24px;
}

.button:hover {
  background-color: #d6f281;
  cursor: pointer;
}

.button:disabled {
  background-color: #f2ffcc;
  cursor: not-allowed;
  opacity: 0.5;
}

.login-button {
  background-color: #f2ffcc;
  border: #f2ffcc;
  color: black;
  margin: 4px 2px;
  padding: 4px 5px;
}

.login-button:hover {
  background-color: #d6f281;
  cursor: pointer;
}

.show-password {
  border-radius: 50%;
  border: black;
}

.show-password:hover {
  cursor: pointer;
  background-color: #a1a1a0;
}

.show-password:active {
  background-color: #a1a1a0;
  box-shadow: 0 5px #000000;
  transform: translateY(4px);
}

img {
  border-radius: 50%;
  width: 20px;
}

.open-account-button {
  background-color: #f2ffcc;
  border: #f2ffcc;
  color: black;
  margin: 4px 2px;
  padding: 4px 5px;
}

.open-account-button:hover {
  background-color: #d6f281;
  cursor: pointer;
}

.create-account-form {
  max-width: 400px;
  margin: 0 auto;
}

.login-form {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.form-group label {
  width: 175px;
}

.form-group input {
  width: 175px;
  padding: 5px;
}

label {
  font-size: large;
}

input {
  font-size: large;
}

.logOut {
  color: black;
  background-color: #f2ffcc;
  font-size: large;
  font-weight: bolder;
  position: absolute;
  top: 62%;
  right: 0%;
  border: none;
}

.logOut:hover {
  cursor: pointer;
}

.next {
  position: absolute;
  margin: 0;
  top: 50%;
  right: 5%;
}

.previous {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 5%;
}

.finish {
  background-color: #5cd672;
  position: absolute;
  margin: 0;
  top: 50%;
  right: 5%;
}

.finish:hover {
  background-color: #14b531;
}

.return-div {
  position: relative;
}

.return-button {
  background-color: #f2ffcc;
  border: #f2ffcc;
  color: black;
  font-size: large;
  padding: 6px 12px;
  border-radius: 24px;
  margin: auto;
  display: block;
}

.return-button:hover {
  background-color: #d6f281;
  cursor: pointer;
}

.start-button {
  background-color: #f2ffcc;
  border: #f2ffcc;
  color: black;
  font-size: xx-large;
  padding: 6px 12px;
  border-radius: 24px;
  margin: auto;
  display: block;
}

.start-button:hover {
  background-color: #d6f281;
  cursor: pointer;
}

.exercise-table {
  border: thick solid #f2ffcc;
  border-collapse: separate;
  border-spacing: 150px;
  place-items: center;
}

.exercise-div {
  align-items: center;
  display: flex;
  justify-content: center;
}

.exercise-image {
  border-radius: 0;
  width: 950px;
  height: 550px;
}

.header-div {
  position: relative;
}

#clock {
  font-size: large;
  font-weight: bolder;
  letter-spacing: 1px;
  position: absolute;
  left: 5px;
  bottom: -18px;
}

#wotd-div {
  margin: auto;
  text-align: center;
}

#word {
  font-size: xx-large;
  font-weight: 600;
  color: #f2ffcc;
}

#pos {
  font-size: medium;
  font-weight: 400;
  color: black;
}

#def {
  font-size: large;
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  top: 50px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 50px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 50px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 50px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 50px; opacity: 1;}
  to {top: 0; opacity: 0;}
}