.main-menu-header {
  background-color: #f2ffcc;
  text-align: center;
  color: black;
  font: bolder;
  font-size: 48px;
  margin: 0%;
  padding: 0%;
}

body {
  background-color: #0097ca;
}

img {
  position: relative;
}

.exercise-div {
  display: grid;
  place-items: center;
  height: 10vh;
}

.button {
  background-color: #f2ffcc;
  border: #f2ffcc;
  color: black;
  font-size: x-large;
  padding: 12px 24px;
  border-radius: 24px;
}

.button:hover {
  background-color: #d6f281;
  cursor: pointer;
}

.button:disabled {
  background-color: #f2ffcc;
  cursor: not-allowed;
}

.next {
  position: absolute;
  margin: 0;
  top: 50%;
  right: 5%;
}

.previous {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 5%;
}

.finish {
  background-color: #5cd672;
  position: absolute;
  margin: 0;
  top: 50%;
  right: 5%;
}

.finish:hover {
  background-color: #14b531;
}

.exercise-table {
  place-items: center;
  border: thick solid #f2ffcc;
  border-collapse: separate;
  border-spacing: 150px;
}

.exercise-image {
  width: 800px;
  height: 500px;
  margin: auto;
}
