.main-menu-header {
  background-color: #f2ffcc;
  text-align: center;
  color: black;
  font: bolder;
  font-size: 48px;
}

body {
  background-color: #0097ca;
}

img {
  position: relative;
}

.displayed-exercise {
  display: grid;
  place-items: center;
  height: 10vh;
}

.hidden-exercise {
  display: none;
}

.next-button {
  position: absolute;
  margin: 0;
  top: 50%;
  right: 125px;
}

.previous-button {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 125px;
}
