.main-menu-header {
  background-color: #f2ffcc;
  text-align: center;
  color: black;
  font: bolder;
  font-size: 48px;
}

body {
  background-color: #0097ca;
}

img {
  position: relative;
}

.exercise-div {
  display: grid;
  place-items: center;
  height: 10vh;
}

.next-button {
  position: absolute;
  margin: 0;
  top: 50%;
  right: 125px;
}

.previous-button {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 125px;
}

.finish-button {
  position: absolute;
  right: 47%;
  bottom: 3%;
}

.exercise-table {
  place-items: center;
  border: thick solid #f2ffcc;
  border-collapse: separate;
  border-spacing: 150px;
}

.exercise-image {
  width: 800px;
  height: 500px;
}
