.main-menu-header {
  background-color: #f2ffcc;
  color: black;
  font: bolder;
  font-size: 48px;
}

body {
  background-color: #0097ca;
}

.mainMenu-btn {
  font-size: 48px;
  border-radius: 18px;
}

.generate-btn {
  /* color: rgb(177, 239, 180); */
  /* background-color: rgb(66, 66, 66); */
  font-size: 48px;
  border-radius: 18px;
  /* position: relative; */
  /* left: -300px; */
}
